{% extends 'base.html.twig' %}
  
{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="d-flex TitleWrap">
            <h1 class="h3 mb-0 text-gray-800">Flow Protokoll</h1>
        </div>
    </div>
    <div class="TitlelBackFile">
        <a class="btn btn-dark" href="{{ path('flow')}}">
        <i class="fa fa-arrow-left " aria-hidden="true"></i>
        </a>
    </div>
    <br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
           Hier wird für jede Ausführung protokolliert! 
        </h6>
        </div>
        <div class="card-body">
        <div class="table-responsive">
            <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
            >
            <thead>
                <tr>
                <th>id</th>
                <th>flow_name</th>
                <th>Letzte Ausführungszeit</th>
                <th>erfolgreich ?</th>
                <th>log_information</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                <th>id</th>
                <th>flow_name</th>
                <th>Letzte Ausführungszeit</th>
                <th>erfolgreich ?</th>
                <th>log_information</th>
                </tr>
            </tfoot>
            <tbody>
                {% for protocol in protocols%}
                {% if (protocol.getLogErrorOrSucces() =="OK") %}
                <tr class ="succesProtokoll">
                {% else %}
                <tr class ="errorProtokoll">
                {% endif %}
                <td> {{ protocol.getId() }} </td>
                <td> {{ flow_name }}</td>
                <td> {{ protocol.getProtkollRunTime() | date('Y-m-d H:i:s') }}</td>
                <td> {{ protocol.getLogErrorOrSucces() }}</td>
                <td class="autoBreakLine"> {{ protocol.getLogInfo() | raw }}</td>
                </tr>
                {% endfor %}
                <!-- <tr class="errorProtokoll">
                <td>11/18/2022 14:00</td>
                <td>Otto Versandbestätigung</td>
                <td>Austausch ist Fehlerhaft</td>
                <td>Inputlocation : c/test/test.csv</td>
                <td>Outputlocation : Eroor('UNB Segment fehlt')</td>
                </tr>-->
            </tbody>
            
            </table>
            <div class="row-8">
                <div class="pagginationcol">
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
                </nav>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
